<% include ./partials/header %>
<div id="contact">

 <div class="row">
  <div class="col-sm-4">
     <div class="contact-info">
   <div class="panel panel-default">
     <div class="panel-heading">
    <h3 class="panel-title">Contact Info</h3>
  </div>
  <div class="panel-body">
    <ul>
         <a href="#"><li><i class="fa fa-envelope" aria-hidden="true"></i> Email</li></a>
         <a href="#"><li><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</li></a>
         <a href="#"><li><i class="fa fa-imdb" aria-hidden="true"> </i> IMDB</li></a>
         <a href="#"><li><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</li></a>
         <a href="#"><li><i class="fa fa-paw" aria-hidden="true"></i> Favorite Dog</li></a>
    </ul>


  </div>
</div>
</div> 
  </div>
  <div class="col-sm-8">

  </div>
 </div>

</div>


<% include ./partials/footer %>