<% include ./partials/header %>
<div id="contact">

 <div class="row">
  <div class="col-sm-4">
     <div class="contact-info">
   <div class="panel panel-default">
     <div class="panel-heading">
    <h3 class="panel-title">Contact Info</h3>
  </div>
  <div class="panel-body">
    <ul>
         <a href="mailto:briananthonyhatch@gmail.com"><li><i class="fa fa-envelope" aria-hidden="true"></i> Email</li></a>
         <a href="https://mobile.twitter.com/brian_a_hatch"><li><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</li></a>
         <a href="http://www.imdb.com/name/nm6522580/"><li><i class="fa fa-imdb" aria-hidden="true"> </i> IMDB</li></a>
         <a href="https://www.facebook.com/brian.a.hatch"><li><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</li></a>
         <a href="#"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn </li></a>
    </ul>


  </div>
</div>
</div> 
  </div>
  <div class="col-sm-8">

  </div>
 </div>

</div>


<% include ./partials/footer %>