<% include ./partials/header %>
<div id="homepage">
    <div class="container-fluid">
        <div class='row'>
            <div class="col-lg-12">
                <div class="name-plate">
                <h1>
                    Brian Hatch | Actor
                    
                </h1>
                </div>
            </div>
        </div>
    <div class="testimonials">
        <h4> <% quote.forEach(function(quote){ %>
            <em><%-quote.text%></em>
                  <% if(currentUser) {  %>
   <a id="white-link" href="/quote/<%=quote._id%>/edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
    <% } %>
            <% }); %>
        </h4>
    </div>
    </div>
    
    
</div>



<% include ./partials/footer %>