body,html {
 height: 100%;
 width: 100%;
 overflow-x: hidden;
 overflow-y: auto;
font-family: 'Amatic SC', cursive;
}
body {
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#homepage {
 z-index: -1;
 position: absolute;
 left: 0;
 top:0;
 width: 100%;
 height: 100%;
  background-image: url('https://res.cloudinary.com/dlksliyac/image/upload/v1495307230/Brian_Hatch_048_z6dnap.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 50% 50%;
 opacity: 1;
 animation: imageAnimation 2s linear;
 
}

.navbar {
 border: none;
 background: #090a1d;
 border-right: 1px solid #ccc;
 padding-left: 3px;

}
.navbar-nav li {
 font-size: 2.0em;
 text-align: center;
}
.navbar li {
 background: rgba(0,0,0,0);
 border: none;
 color: white;
 
}
.navbar .demo-reels a{
color:  white;
}
.navbar .demo-reels a:hover {
text-decoration: none;
 color: #777;
}
.nav>li>a>img{
 max-width: 100%;
}
.navbar .img-thumbnail {
 margin-top: 5px;
 background: none;
}


.navbar-default .navbar-nav>li>a{
 color: white;
}

@keyframes imageAnimation { 
 0%{
  opacity: 0;
   animation-timing-function: ease-in;
 }
  100% { 
    opacity: 1; 
   
  }
 
}
@media (min-width: 768px) {


  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
.container-custom {
 width: 100%;

 height: 100%;
}
.navbar
{
position: fixed;
overflow-y: auto;
	width:12%;

height: 100%;
margin-bottom: 0 !important;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
.testimonials{
position: absolute;
top: 30%;
left: 13%;
width:  30%;
}
.testimonials h4 {
 font-size: 3.4em;
color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.name-plate h1 {
 font-size: 5.0em;
 margin-left:13%;
 color: white;
     text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.navbar-nav button {
 width: 100%;

}
.navbar-nav .download {
 background: blue;
}
.navbar-nav .download {
 background: green;
}
.signature {
margin-top: 30%;
 text-align: center;
}
.signature img {
 width: 80%;
 
}

.navbar li:hover {
 background-color: #ddd;
}



#bio {

 position: absolute;
 right: 0;
 top:0;
 width: 88%;
 height: 100%;
  background-image: url('https://res.cloudinary.com/dlksliyac/image/upload/v1495381464/BRIAN_HATCH_-_Headshot_3_vfz1qm.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 60% 70%;
 opacity: 1;
 animation: imageAnimation 2s linear;
 overflow: auto;


}

#bio .about-me h3 {
 color: white;
 text-align: center;
 font-size: 5.0em;

}

#bio .about-me {
 margin: 10px 0px 10px 80px;
 width: 80%;
 
}

#bio .panel-heading {
 background-color: #090a1d;
}
#bio .panel-default {
 border-color:#090a1d;
}
#bio .panel-body {
 margin: 5px;
}
#bio p {
 font-size: 1.46vw;
}





#media {
 z-index: -5;
 position: absolute;
 right: 0;
 top:0;
 width: 88%;
 height: auto;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 opacity: 1;
 animation: imageAnimation 2s linear;
}
#media .media-header {
 z-index: -3;
 right: 0;
 top:0;
width: 100%;
background-image: url("https://res.cloudinary.com/dlksliyac/image/upload/v1495568273/Brian_Hatch_011_ra7qq2.jpg");
 height: 1000px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;


}
#media .media-header .media-and-work{
 width: 20%;
 margin-left: 3%;

}
#media .media-header .media-and-work h1 {
 text-align: center;
line-height: 1.4em;
 font-size: 5.0em;
  word-spacing: 999999px;
  color: black;
}

#media .container-fluid h1 {
 font-size: 3.0em;
 text-align: center;
 color: white;
 
}
#media .container-fluid a {
 color: #d5ea5c;
}

#media .scroll-container {
 width: 20%;
 position:fixed;
 text-align: center;
 color: black;
float: right;
 top: 85%;
 right: 1%;
 font-size: 3.0em;
}
.scroll-container h3 {
 font-size: .78em;
}
#media ul {
 margin: 40px 0;
}
#media ul li {
  background: #355258;
 color: white;
 font-size: 2.4em;

}
#media  .thumbnail {
 margin: 0 auto;
 margin: 40px 0;
}

#contact {
 position: absolute;
 right: 0;
 top:0;
 width: 88%;
 height: 100%;
  background-image: url('https://res.cloudinary.com/dlksliyac/image/upload/v1495307246/Brian_Hatch_137_fnuvbj.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 40% 0%;
 opacity: 1;
 animation: imageAnimation 2s linear;
    overflow-y: auto;
}
#contact .contact-info h3 {
 color: white;
 text-align: center;
 font-size: 5.0em;

}

#contact .contact-info {
 margin: 40px 0px 0px 80px;
 width: 100%;
}

#contact .panel-heading  {
 background-color: #090a1d;
}
#contact .panel-default {
 border-color:#090a1d;
}
#contact .panel-body {
 margin: 5px;
 padding-bottom: 80px;
  background: ghostwhite;
}
#contact li {
 list-style: none;
 line-height: 1.8em;
 font-size: 3.8vw;
 display: block;
 color: #1f3b7b;
 border-bottom: 1px solid #ccc;
}
#bio .about-me h3 {
 color: white;
 text-align: center;
 font-size: 5.0em;

}




/* Handle resizes mobile */
@media (max-width: 767px){
 body, html{
  overflow-y: auto;
 }
 .navbar {
  margin-bottom: 0;
 }
  #homepage {

  width: 100%;
  z-index: 3;
  position: relative;
 }
 .testimonials h4 {
 font-size: 2.4em;
 }
 .signature {
margin-top: 0;
margin-bottom: 5%;
 text-align: center;
}
 #bio {

  width: 100%;
  z-index: 3;
  position: relative;
 
 }
 #bio p {
  font-size: 1.8em;
 }
 #media{
  width: 100%;
  margin-top: 50px;
  z-index: 3;
  position: relative;
 }
 #contact li {
  font-size: 4.2em;
 }
  #contact {
  width: 100%;
  z-index: 3;
  position: relative;

  
 }
 #contact .contact-info {
  margin: 0;
  width: 100%;
 }



}
/* for extra small devices */
@media (max-width: 540px){
 #bio .about-me {
  margin: 0;
  width: 100%;
 }
 #media .media-header {
background-position: 76% 30%;

 }
#contact .contact-info {
  margin: 0;
  width: 100%;
 }
}

/*modal boxes */
.modal-dialog {
 min-width:70%;
 height: 80vh;
}
.modal-content {
 background: ghostwhite;
}
.modal-title {
 text-align: center;
 font-size: 2.0em;
}
.modal-header .close {
 font-size: 2.7em;
 color: #090a1d;
}