<% include ../partials/header %>

<div class="container">
<div class="row">
	<div class="col-lg-6 col-sm-offset-3">
		<h1>Edit Quote</h1>
		<form action="/quote/<%=quote._id%>?_method=PUT" method="POST">
			<div class="form-group">
				<label>Quote Text</label>
				<textarea name="quote[text]" class="form-control"><%= quote.text %></textarea>
			</div>
			<button class="btn btn-primary">Update</button>
		</form>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-offset-3 col-lg-6">
		<div class="well well-lg">
			<ul>
			<li><h3>Add a line between paragraphs:</h3> <xmp><p>Your text between these two tags creates a new line</p></xmp></li>
			<li><h3>Add bold:</h3> <xmp><strong>Place the text you want to be bold between these tags</strong></xmp></li>
			</ul>
		</div>
	</div>
</div>
</div>

<% include ../partials/footer %>